<!DOCTYPE html>
<html>
<head>
  <title>All Articles</title>
</head>
<body>
  <ul>
    <% articles.forEach(function(article, id) { %>
      <li><%= article.title %> - <%= article.body %> - <a class="delete-link" href="/articles/<%= id %>/destroy">Delete</a></li>
    <% }); %>
  </ul>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
    $(".delete-link").on("click", function(e) {
      e.preventDefault();
      var articleElement = $(this);
      var articleUrl = articleElement.attr('href');
      console.log(articleUrl);
      $.ajax({
        method: 'DELETE',
        url: articleUrl
      }).done(function(data) {
        console.log(data);
        // remove article from page on client-side
        window.location = "/articles";
      });
    });
  </script>
</body>
</html>
